
#boss-health-bar-container, #monster-health-bar-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#boss-health-text, #monster-health-text {
    font-weight: bold;
    margin-right: 10px;
    color: white;
}

#boss-health-bar, #monster-health-bar {
    width: 200px;
    height: 20px;
    background-color: red; 
    border-radius: 5px;
    overflow: hidden;
}

#boss-health-fill, #monster-health-fill {
    height: 100%;
    width: 100%; 
    background-color: green;
    transition: width 0.3s ease; 
}
.caveQuestPage{
    width: 1050px;  
    height: 550px;
    background-image: url('../images/cavealt2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 500;
}
.characterInGame{
    width: 100%;
}
.characterInGame img:nth-child(1){
    width: 170px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    
}
.characterInGame img:nth-child(2){
    width: 180px;
    height: 150px;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    
}
.characterInGame img:nth-child(1):hover{
    cursor: url('./../images/sword.png'), auto; 
    transform: rotate(4deg);
    transition: transform 0.10s ease;
}
.monsterFont, .obstacleFont, .caveBossFont{
    color: white;
}

.questObstacle {
    font-size: 45px;
}
.questKey {
    font-size: 20px;
}
