
#boss-health-bar-container, #monster-health-bar-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#boss-health-text, #monster-health-text {
    font-weight: bold;
    margin-right: 10px;
}

#boss-health-bar, #monster-health-bar {
    width: 200px;
    height: 20px;
    background-color: red; 
    border-radius: 5px;
    overflow: hidden;
}

#boss-health-fill, #monster-health-fill {
    height: 100%;
    width: 100%; 
    background-color: green;
    transition: width 0.3s ease; 
}
.caveQuestPage{
    width: 1050px;  
    height: 450px;
    background-image: url('../images/caveQuestgame.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 500;
}
.characterInGame{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.characterInGame img{
    width: 110px;
    height: 108px;
}
.characterInGame img:nth-child(2):hover{
    cursor: url('./../images/sword.png'), auto; 
}


