.characterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.characterContainer>h1 {
    margin-top: 5vh;
    margin-bottom: 50px;
}

.characterPicture {
    font-size: 100px;
}

.myCharacters {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    gap: 20px;
}

.playBtn {
    margin-top: 10px;
}