.forestQuest {
    width: 1050px;  
    height: 450px;
    background-image: url('../images/forestQuest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 500;
}
.action{
    position: absolute;
}