.gameTemplate {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 86px);
    grid-template-areas:
        "header header header header"
        "gameView gameView gameView messagesView"
        "gameView gameView gameView messagesView"
        "gameView gameView gameView messagesView"
        "gameView gameView gameView messagesView"
        "gameView gameView gameView messagesView"
        "footer footer footer footer"
        "footer footer footer footer";
}

.headerBar {
    grid-area: header;
    background-color: bisque;
    border: 2px double black;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 600px auto 250px;
}
.headerBtn{
    margin-top: 20px;
    margin-left: 100px;
}
.headerBtn button{
    padding:3px 5px;
    cursor: pointer;
}
.headerBtn button:hover{
    background-color: darkgray;
    color: white;
}
.headerHP {
    margin-top: 20px;
    margin-left: 10px;
}

.headerGold {
    margin-top: 20px;
}

.headerLevel {
    margin-top: 20px;
}

.headerXP {
    margin-top: 20px;
}

.headerChangeChar {
    margin-top: 20px;
    cursor: pointer;
}
.sceneDiv {
    grid-area: gameView;
    padding: 15px;
    height: 600px;
}
.footerBar {
    grid-area: footer;
    background-color: bisque;
    border: 2px double black;
    display: grid;
    grid-template-columns: 160px 210px 310px 210px 320px 310px;
}

.footerAvatarDiv {
    background-color: lightgray;
    width: 150px;
    height: 150px;
    border: 2px double black;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
}

.footerCharacterImage {
    width: 80px;
    height: 120px;
}

.footerStatsDiv {
    background-color: lightgray;
    width: 200px;
    height: 150px;
    border: 2px double black;
    margin-top: 10px;
    margin-left: 10px;
}

.footerEqiuppedItemsDiv {
    background-color: lightgray;
    width: 300px;
    height: 150px;
    border: 2px double black;
    margin-top: 10px;
    margin-left: 10px;
}

.footerActionsDiv {
    background-color: lightgray;
    width: 200px;
    height: 150px;
    border: 2px double black;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.footerInventoryDiv {
    background-color: lightgray;
    width: 310px;
    height: 150px;
    border: 2px double black;
    margin-top: 10px;
    margin-left: 10px;
}

.footerMissionsDiv {
    background-color: lightgray;
    width: 210px;
    height: 150px;
    border: 2px double black;
    margin-top: 10px;
    margin-left: 10px;
}

 .messagesDiv {
    grid-area: messagesView;  
} 

.messages {
    width: 100%;
    height: 450px;
    background-color: lightgrey;
    border: 2px double black;
}

.showingMessages {
    max-height: 85%;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    background-color: whitesmoke;
}

.inGameBtn {
    width: 100px;
    height: 40px;
}