.gameTemplate {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 86px);
    grid-template-areas:
        "header header header header"
        "gameView gameView gameView messagesView"
        "gameView gameView gameView messagesView"
        "gameView gameView gameView messagesView"
        "gameView gameView gameView messagesView"
        "gameView gameView gameView messagesView"
        "footer footer footer footer"
        "footer footer footer footer";
}

.headerBar {
    grid-area: header;
    background-color: bisque;
    border: 2px double black;
    display: grid;
    grid-template-columns:10% 10% 10% 10% auto 25% 15%;
}
.headerBtn{
    margin-top: 20px;
    margin-left: 100px; 
}
.headerBtn button{
    padding:3px 5px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}
.headerBtn button:hover{
    background-color: darkgray;
    color: white;
}
.headerHP {
    margin-top: 20px;
    margin-left: 10px;
}

.headerGold {
    margin-top: 20px;
}

.headerLevel {
    margin-top: 20px;
}

.headerXP {
    margin-top: 20px;
}

.headerChangeChar {
    margin-top: 20px;
    cursor: pointer;
}
.sceneDiv {
    grid-area: gameView;
    padding: 15px;
    height: 600px;
}
.footerBar {
    grid-area: footer;
    background-color: bisque;
    border: 2px double black;
    display: grid;
    grid-template-columns: 10% 12% 18% 14% 18% 25%;
}

.footerAvatarDiv {
    background-color: lightgray;
    width: 150px;
    height: 150px;
    border: 2px double black;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
}

.footerCharacterImage {
    width: 80px;
    height: 120px;
}

.footerStatsDiv {
    background-color: lightgray;
    width: 200px;
    height: 150px;
    border: 2px double black;
    margin-top: 10px;
    margin-left: 20px;
}

.footerEqiuppedItemsDiv {
    background-color: lightgray;
    width: 300px;
    height: 150px;
    border: 2px double black;
    margin-top: 10px;
    margin-left: 20px;
}

.footerActionsDiv {
    background-color: lightgray;
    width: 200px;
    height: 150px;
    border: 2px double black;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
}

.footerInventoryDiv {
    background-color: lightgray;
    width: 310px;
    height: 150px;
    border: 2px double black;
    margin-top: 10px;
    margin-left: 20px;
}

.footerMissionsDiv {
    background-color: lightgray;
    width: 360px;
    height: 150px;
    border: 2px double black;
    margin-top: 10px;
    margin-left: 40px;
}

 .messagesDiv {
    grid-area: messagesView;  
} 

.messages {
    width: 100%;
    height: 450px;
    background-color: lightgrey;
    border: 2px double black;
}

.showingMessages {
    max-height: 85%;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    background-color: whitesmoke;
}

.inGameBtn {
    width: 100px;
    height: 40px;
}