.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    margin-top: 10vh;
    padding: 20px 0 20px 0;
    gap: 30px;
}

.wof-logo {
    width: 200px;
    height: 200px;
}