.mapPage {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.mapPage__top {
    height: 75%;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mapPage__top__map {

    height: 100%;
    width: 80%;
}

.mapPage__top__map__heading {
    background-color: rgb(240, 231, 231);
    height: 10%;
    width: 100%;
    display: flex;   
}
.mapPage__top__map__heading button{
    font-size: 17px;
}
.mapPage__top__map__heading h1 {
   margin-left: 450px;
   font-size: 50px;
   margin-top: -50px;   
}

.mapPage__top__map__row {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mapPage__top__map__col {
    margin-top: 5%;
    height: 100%;
    width: 20%;
    position: relative;
}

.townIsland,
.caveIsland,
.desertIsland,
.forestIsland,
.mountainIsland,
.bossIsland {
    width: 160px;
    height: 160px;
    position: absolute;
}

.caveIsland img,
.desertIsland img,
.forestIsland img,
.mountainIsland img {
    width: 100%;
    height: 100%;
}

.townIsland_image {
    width: 200px;
    height: 200px;
    margin: auto;
    position: absolute;
}

.town_image {
    width: 60px;
    height: 60px;
    margin: 50px auto;
    margin-left: 80px;
    position: absolute;
}
.caveIsland img {
position: absolute;

}
.caveIsland .cave_image {
    width: 60px;
    height: 60px;
    margin: 40px auto;
    margin-top: 50px;
    margin-left: 50px;
}

.desertIsland .desert_image {
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left: 50px;
    position: absolute;
  
}
.townIsland img,
.forestIsland img,
.mountainIsland img,
.desertIsland img,
.caveIsland img
{
    position:absolute;
    z-index: 50;
}

.forestIsland .forest_image {
    width: 40%;
    height: 40%;
    margin-top: 40px;
   margin-left: 40px;
    position: absolute;
    z-index: 5000;
}


.mountainIsland .mountain_image {
    width: 40%;
    height: 40%;
    margin-top: 40px;
    margin-left: 40px;
    position: absolute;
    z-index: 100;
}

.bossIsland .boss_image {
    width: 40%;
    height: 40%;
    position: absolute;
      margin-top: 40px;
    margin-left: 60px;

}

.bossIsland img {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
}

.bridge {
    width: 100px;
    height: 200px;
    z-index: 500;
    position: relative;
}

.townBridge {
    margin-left: 50px; 
    width: 120px;
    height: 150px;
    position: absolute;
    
}

.caveBridge {
    margin-left: 60px;
    width: 120px;
    height: 200px;
    transform: rotate(80deg);
}

.dessertBridge {
    margin-left: 60px;
    width: 120px;
    height: 200px;
    transform: rotate(80deg);
}

.forrestBridge {
   margin-left:-40px;
   margin-top: -20px;
    width: 140px;
    height: 170px;
    transform: rotate(-5deg);
}

.bossBridge {
    margin-left: 40px;
    width: 80px;
    height: 120px;
    position: absolute;
    z-index: 2000;
    transform: rotate(80deg);
}

.bridge img {
    width: 100%;
    height: 100%;
    z-index: 500;
    position: absolute;
}

.fish {
    margin-top: 40px;
    margin-left: 60px;
    width: 40%;
    height: 40%;
}

.water_img{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}