
/* registerPage */
.registerPage {
    background-color: antiquewhite;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.registerPage button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    background-color: gray;
    color: white;
    font-size: 16px;
    cursor: pointer;
}