.townMap {
    width: 1120px;
    height: 400px;
    background-image: url('../images/townMap.png');
    background-repeat: no-repeat;
}

.elderDiv {
    width: 50px;
    height: 95px;
    position: relative;
    top: 270px; 
    left: 400px;
}

.shopDiv {
    width: 110px;
    height: 90px;
    position: relative;
    top: 110px; 
    left: 770px;
}